{% extends 'main.html' %}

{% block content %}
<h2>Menus</h2>
<form method="POST" action="">
    <label for="name">Menu Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="description">Description:</label><br>
    <textarea id="description" name="description"></textarea><br><br>
    <input type="submit" value="Add Menu">
</form>

<h3>Menu List</h3>
<ul>
    {% for menu in menus %}
    <li>
        <strong>{{ menu.name }}</strong> - {{ menu.description }}
        <form method="POST" action="{{ url_for('delete_menu', id=menu.menu_id) }}" style="display:inline;">
            <button type="submit">Delete</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}
